{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

<!-- add image_link for the card -->
{{ $image_link := $item.RelPermalink }}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ $image_target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{ if $item.Params.image_link }}
  {{ $image_link = $item.Params.image_link }}
  {{ $image_target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{ if $item.Params.internal_link }}
 {{ $link = $item.Params.internal_link }}
 {{ $image_link = $item.Params.internal_link }}
 {{ $target :="" }}
 {{ $image_target :="" }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Params.abstract }}
  {{ $summary = $item.Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
  {{ $summary = $item.Summary }}
{{ end }}

{{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}

<div class="card">
  {{ with $resource }}
  {{ $image := .Resize "550x webp" }}
  <a href="{{ $image_link }}" {{ $image_target | safeHTMLAttr }} class="card-image hover-overlay">
    <img src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}"
         alt="{{ $item.Title }}" class="img-responsive" loading="lazy">
  </a>
  {{ end }}
  <div class="card-text">
    <h4><a href="{{ $link }}" {{ $target | safeHTMLAttr }}>{{ $item.Title | markdownify | emojify }}</a></h4>

    {{ with $summary }}
    <div class="article-style">
      <p>{{ . }}</p>
    </div>
    {{ end }}

    {{ if $has_attachments }}
    <div class="btn-links">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
  </div>
</div>
