// Override this file to add your own SCSS styling.
.aside-toc {
    line-height: 1.9;
    ul {
            padding-inline-start: 10px;
    }
    a:hover
    {
        text-decoration: underline;
    }

}

