// Override this file to add your own SCSS styling.
.aside-toc {
    line-height: 1.9;
    ul {
            padding-inline-start: 10px;
    }
    a:hover
    {
        text-decoration: underline;
    }

}

.aside-toc #TableOfContents li a, .toc-top li a {
    font-size: 1rem;
}

.btn-citation:hover a {
    color: white;
}

.post-container .article-container {
  max-width: 100%;
  padding: 0;
}

.post-container .featured-image-wrapper{
    display: none;
}

@media screen and (max-width: 1200px) {
    .article-body {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
