{{- define "main" -}}
<div class="container-xl">
    <div class="post-container">
        {{ partial "page_header" . }}
    </div>
    <div class="border-bottom mb-4"></div>
    <div class="row flex-xl-nowrap">
        <div class="col-3 d-none d-xl-block docs-toc">
            {{ "<!-- toc -->" | safeHTML }}
            {{ partial "toc.html" . }}
            {{ "<!-- /toc -->" | safeHTML }}
        </div>
        <main class="col-9 container docs-content" role="main">
            <article class="article">
                <div class="article-style">
                    {{ .Content }}

                </div>

                {{ partial "page_footer" . }}
            </article>
        </main>
    </div>
</div>
{{- end -}}
