{{ $str := "" }}
<div class="container-xl row post-nav">
  {{if .NextInSection}}
  {{/* For the Book layout, prev/next labels are reversed. */}}
  {{ if in (slice "docs" "book") .Type }}{{ $str = "previous" }}{{else}}{{ $str = "next" }}{{end}}
  <a class="col-6 post-nav-item btn btn-lg mb-md-1" href="{{.NextInSection.RelPermalink}}" rel="next">
    <div class="meta-nav">{{ i18n $str }}</div>
    <p>{{.NextInSection.Title}}</p></a>
  {{end}}
  {{if .PrevInSection}}
  {{ if in (slice "docs" "book") .Type }}{{ $str = "next" }}{{else}}{{ $str = "previous" }}{{end}}
  <a class="col-6 post-nav-item btn btn-lg mb-md-1"  href="{{.PrevInSection.RelPermalink}}" rel="prev">
    <div class="meta-nav">{{ i18n $str }}</div>
    <p>{{.PrevInSection.Title}}</p></a>
  {{end}}
</div>
